#closeButton, #helpMessage {
    -fx-text-fill: white;
}

#closeButton {
    -fx-background-color: dimgray;
}

#closeButton:hover {
    -fx-background-color: gray;
}

#closeButton:armed {
    -fx-background-color: darkgray;
}

#helpMessageContainer {
    -fx-background-color: derive(#1d1d1d, 20%);
    -fx-font-size: 18px;
}
